body {
    position: relative;
}

.back-page {
    position: absolute;
    top: 30px;
    left: 30px;
}

.back-page img {
    width: 30px;
}

.sign-section {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

.sign-section h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #FFA41C;
    text-align: center;
}

.sign-section p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #636363;
}

.sign-create {
    display: flex;
}

.sign-create .sign h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #636363;

    margin-right: 12px;
}

.sign-create .create h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: rgba(99, 99, 99, 0.35);
}

.sign-create .sign span {
    border-bottom: 6px solid #FFA41C;
}

.email-enter form input {
    width: 100%;
    padding: 18px 10px;
    margin-bottom: 30px;
    border: 1px solid;
    border-radius: 4px;
}

.email-enter form input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21.42px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #B6B6B6;
}

.sign-btn input {
    background: #FFA41C;
    box-shadow: 0px 15px 35px rgba(255, 164, 28, 0.25);
    border-radius: 4px;
    border: 1px solid #FFA41C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.forget h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21.42px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #1877F2;
    text-align: right;
    margin-top: -13px;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.or hr {
    width: 40%;
    border-bottom: 2px solid #262626;
    align-self: center;
    flex: 1;
}

.main-btn {
    text-align: center;
    margin-bottom: 60px;
}

.main-btn a {
    background: #1877F2;
    padding: 20px 175px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border-radius: 4px;
}
.main-btn a:hover {
    text-decoration: none;
}
.main-btn img {
    width: 25px;
}
.google a {
    background: transparent !important;
    color: #636363 !important;
    border: 1px solid #636363;
}
